.App {
  box-sizing: border-box;
}

.video-background {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.video-background video {
  object-fit: cover;
}

.content {
  max-width: 1528px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
}

.header {
  background-color: #64646463;
  padding: 10px;
  margin-bottom: 40px;
  border-radius: 12px; 
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0 40px;
}

/* Card-list style  */

.card-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
}

/* Card-item style */

.card-item {
  min-height: 300px;
  padding: 26px 40px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 32px;
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.3));
  color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: space-between;
}

.card-item video {
  border-radius: 9px;
}

.card-item h3 {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 1%;
}

.card-item p {
  font-size: 12px;
  line-height: 22px;
}

.card-button {
  cursor: pointer;
  width: 107px;
  height: 40px;
  border-radius: 12px;
  padding: 9px 25px;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 1);
}

.card-button:active {
  transform: scale(0.95);
} 

.hide-button {
  color: white;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  border: 2px solid white;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 12px;
  background-color: #64646463;
}

.hide-button:active {
  transform: scale(0.95);
} 