@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {
  .video-background video {
    @apply object-cover;
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    color: white;
  }

  /* card-page */
  
  .btn-active {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
  }

  /* card-preview-page */

  .card-preview-wrap {
    background: url('../../public/assets/images/mountains-bcg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}



